<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Search Engine by noobs</title>
<style>
.divider{
    height:50px;
    
    display:inline-block;
}
</style>
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/index2.js"></script>
</head>
<body>
	
	
	<form id="queryForm" align="center" style="margin-top: 100px; ">
	
	<center>
	<img alt="Noogle" height="95" id="hplogo" src="/pic.jpg" style="padding-top:112px" width="269"/>	
	</center>
		<input id="query" type="text" name="field" style="width: 300px; height: 30px; font-size: 150%;  "><br>
		<div class="divider"></div>
		<input id="submitButton" type="submit" value="Nooble Search" style="width: 150px; height: 37px; font-size:120%; ">
	</form>
	<div id="solution">
	</div>

</body>
</html>
